<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
</head>
<body>
<header>
    <h1>SensorMessages</h1>
</header>
<main>
    <div class="title">
        <h2> Messages </h2>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Timestamp</th>
            <th>xCoord</th>
            <th>yCoord</th>
            <th>Sensortype</th>
            <th>Value</th>
        </tr>
        </thead>
        <tr>
        <tr th:if="${sensormessages.empty}">
            <td colspan="2"> No messages available</td>
        </tr>
        <tr th:each="sensormessage : ${sensormessages}">
            <td><span th:text="${sensormessage.id}"> Id </span></td>
            <td><span th:text="${sensormessage.timestamp}">Timestamp </span></td>
            <td><span th:text="${sensormessage.xCoord}"> xCoord </span></td>
            <td><span th:text="${sensormessage.yCoord}"> yCoord </span></td>
            <td><span th:text="${sensormessage.sensorType}"> sensorType </span></td>
            <td><span th:text="${sensormessage.value}"> Value </span></td>
        </tr>
    </table>
</main>
</body>
</html>
